.product-content {
  padding: 50px 50px;
  h2 {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 3px;
  }
  p {
    color: #ababab;
  }
  > p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 30px;
  }
  > p:nth-of-type(2) {
    font-size: 18px;
    margin: 20px 0px;
  }

  .product-content-color-size {
    font-weight: 500;

    button {
      background: none;
      border: none;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      cursor: pointer;
      margin-left: 5px;
    }
    .product-content-color {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .active {
        &::after {
          content: "";
          background-color: black;
          width: 30px;
          height: 2px;
          position: absolute;
          bottom: -7px;
          left: 0px;
        }
      }
      > span:nth-of-type(1) {
        width: 40px;
      }
      > span:not(:first-child) {
        margin: 0px 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0px 0px 10px lightgray;
        position: relative;
        cursor: pointer;
        &:hover {
          &::after {
            content: "";
            background-color: black;
            width: 30px;
            height: 2px;
            position: absolute;
            bottom: -7px;
            left: 0px;
          }
        }
      }
    }
    .product-content-size {
      display: flex;
      align-items: center;
      .active {
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: -0px;
          width: 30px;
          height: 2px;
          background-color: black;
        }
      }
      > span:nth-of-type(1) {
        width: 40px;
      }
      > span:not(:first-child) {
        margin: 0px 10px;
        width: 30px;
        display: inline-block;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:hover {
          &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -0px;
            width: 30px;
            height: 2px;
            background-color: black;
          }
        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    > div:nth-of-type(1) {
      flex: 1;
      border: 1px solid #e1e1e1;
      padding: 0px 10px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      flex-wrap: nowrap;
      input {
        width: 30px;
        height: 100%;
        outline: none;
        border: none;
        text-align: center;
        color: #ababab;
        font-size: 18px;
        &:focus {
          background-color: #fafafa;
        }
      }
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          display: grid;
          place-items: center;
          .MuiSvgIcon-root {
            color: #ababab;
          }
        }
      }
    }
    > div:nth-of-type(2) {
      background-color: green;
      flex: 1;
      button {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        border-radius: 0px;
        padding: 20px 10px;
      }
    }
  }
  a {
    color: #939393;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}
